.btn {
  &,
  &:link,
  &:visited,
  &--text,
  &__colored--purple {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    // box-shadow: 0 1rem 2rem rgba($color-black,.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    // box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

.btn__colored--purple {
    border-radius: 100rem;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
}

.btn__colored--orange{
    border-radius: 100rem;
    margin-left:1rem;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
}

.btn__colored--white{
  border-radius: 100rem;
    background-color: $color-white;
  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
}
